/*custom styles*/
/* @author: Ricardo Veronese;
   @date: jan 2016;
*/

/*general*/
body {
  background-color: #f2f2f2;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #555;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

/*titles*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway";
  font-weight: 300;
  color: #333;
}

/*paragraphs and typographic*/
p {
  line-height: 28px;
  margin-bottom: 25px;
}

.centered {
  text-align: center;
}

/*links*/
a {
  color: #f85c37;
  word-wrap: break-word;
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
     -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
      -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
       -o-transition: color 0.1s ease-in, background 0.1s ease-in;
          transition: color 0.1s ease-in, background 0.1s ease-in;
}
a:hover {
  cursor: pointer; 
}
a:hover,
a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}
a:before,
a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
     -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
      -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
       -o-transition: color 0.1s ease-in, background 0.1s ease-in;
          transition: color 0.1s ease-in, background 0.1s ease-in;
}

/*divider*/
 hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*global values*/
.desc {
  padding-top: 50px;
}
.desc p {
  color: #2f2f2f;
}
.desc t {
  color: #34495e;
  font-weight: 700;
}
.desc imp {
  padding: 6px;
  color: white;
  background: #34495e;
}
.desc more {
  color: #95a5a6;
}

sm {
  font-size: 12px;
}

/*sections*/
#headerwrap {
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 500px;
  width: 100%;
}
#headerwrap .row.centered {
  margin-top: 30px;
}
#headerwrap #masthead img {
  width: 456px;
}
#headerwrap p.site-subtitle {
  color: #333;
}

#intro {
  background: #2c3e50;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
} 
#intro h5, p {
  color: white;
}
#intro i {
  color: white;
  padding-right: 8px;
  vertical-align: middle;
}

#skillswrap {
  background: #2c3e50;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
}
#skillswrap h5, p {
  color: white;
}

/*portfolio*/
.portfolio .title-container {
  position: absolute;
  margin-left: 0;
  text-align: center;
}
.portfolio sm {
  font-size: 12px;
  color: #fff;
  background-color: #2C3E50;
  padding: 5px;
}
.lb-data .lb-number {
  display: none !important;
}

#footwrap {
  background: #2f2f2f;
  padding-top: 50px;
  padding-bottom: 50px;
}
#footwrap p {
  color: white;
}
#footwrap h5 {
  color: white;
}
#footwrap t {
  font-weight: 700;
}
#footwrap i {
  padding-right: 8px;
  color: #1abc9c;
}

/*responsive design*/
@media screen and (min-width: 451px) and (max-width: 768px) { 
  /*portfolio*/
  .portfolio .title-container {
    position: initial;
    margin-left: initial;
    text-align: initial;
  }
  .portfolio .carousel {
    text-align: center;
  }
  .portfolio .carousel img {
    margin: auto;
  }
}
@media screen and (max-width: 450px) {
  #headerwrap #masthead img {
    width: 100%;
  } 
  /*portfolio*/
  .portfolio .title-container {
    position: initial;
    margin-left: initial;
    text-align: initial;
  }
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}


/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}